In [16]:
import pandas as pd
import numpy as np
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt

In [17]:
#input data
cleanpath = 'YSET_Dec2008_Dec2019_cleaned20190531.csv'
df = pd.read_csv(cleanpath)

In [18]:
df.head()

,Unnamed: 0,UniqueID,YSET_I_R,y_TotalFactors,y_DateS1_Interview,YouthStatus,Agency,GRYD_Zone,Ethnicity_Asian,Ethnicity_Black,...,YSET_Days,YSET_Version,YSETDirections,YSETDirections_ETO,YSETResults,YSETStatus,GRYD_Zone2018,GRYD_ZoneSubRegion,PrimaryLast,PrimaryLast1
0,3131,1010.0,11.0,,2010-05-13,,9,5,0.0,0,...,,,,,2.0,,,,,1
1,6394,1010.0,12.0,1,2011-07-28,,9,5,0.0,0,...,,,,,1.0,,,,,1
2,6021,1042.0,11.0,7,2011-09-27,,17,7,0.0,0,...,,,,,2.0,,,,,1
3,3296,1043.0,11.0,8,2010-05-17,,9,5,0.0,0,...,,,,,2.0,,,,,1
4,6500,1043.0,12.0,,2011-07-27,,9,5,0.0,0,...,,,,,2.0,1,,,,1

In [19]:
#create a database to include only the Unique IDs and questions 
df_question =df.loc[:,"a1_combo":"ij56_gang"]
df_question['UniqueID'] = df['UniqueID']
cols = df_question.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df_question[cols]
df.head()

,UniqueID,a1_combo,a2_combo,a3_combo,a4_combo,a5_combo,a6_combo,b7_combo,b8_combo,b9_combo,...,ij47_gang,ij48_gang,ij49_gang,ij50_gang,ij51_gang,ij52_gang,ij53_gang,ij54_gang,ij55_gang,ij56_gang
0,1010.0,1.0,5.0,3.0,1.0,1.0,1.0,3.0,5.0,3.0,...,88,88,88,88,88,88,88,88,88,88
1,1010.0,4.0,3.0,2.0,1.0,2.0,1.0,3.0,2.0,2.0,...,88,88,88,88,88,88,88,88,88,88
2,1042.0,2.0,2.0,3.0,1.0,3.0,1.0,4.0,3.0,3.0,...,88,88,88,88,88,88,88,88,88,88
3,1043.0,4.0,3.0,4.0,1.0,4.0,3.0,5.0,5.0,5.0,...,88,88,88,88,88,88,88,88,88,88
4,1043.0,2.0,3.0,3.0,1.0,2.0,2.0,3.0,3.0,3.0,...,88,88,88,88,88,88,88,88,88,88